body {
    padding:0px;
    margin:0px;
    text-transform: capitalize;
}

.head {
    background-image:url('2mine.jpg');
   background-repeat:no-repeat;
   background-size:cover;
   height:680px;
   padding:0px;
   margin:0px;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    font-size:35px;
    display:inline-block;
    padding:30px 0px;
}
h2 {  
     font-family:Arial, Helvetica, sans-serif;
        margin:0px 25px 0px 0px;
        font-size:30px;
        float:right;
        transition:600ms;
        color:white;
        padding:30px 0px;
}
.menu {
    padding:0px;
    margin:-5px 0px;
    background-color:black;
    float:right;
    color:white;
    width:100%;
    opacity:0.7;
}
.menu ul {
    padding:0px;
    margin:0px 60px;
}
.menu li {
    padding:20px;
    margin:0px;
    transition:  600ms;
    float:right;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type:none;
}
.menu a {
    color:white;
}
.menu li:hover {
    text-decoration: 2px solid red underline;
    cursor:pointer;
    opacity: 1;
}

.head h2:hover {
    text-decoration:2px solid red underline;
    cursor:pointer;
}
.aside {
    margin:14% 0%;
    font-size:28px;
    text-align:justify;
    padding:0px 0px 0px 60px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
.aside p {
    width:33%;
}
.aside button {
    width:15%;
    margin: 30px 4px;
    padding:16px;
    font-size:15px;
    background:none;
    transition: background-color 600ms, color 600ms;
    border:2px solid white;
    color:white;
}
.aside button:hover {
    background:white;
    color:#3b5997;
}
.photo {
    float:left;
    margin-top:20px;
    width:100%;
}
.photo img {
    width:24%;
    float:left;
    padding:5px 3px 0px 10px;
    transition: opacity 800ms;
    margin:30px 0px;
    height:280px;
    opacity:0.6;
}
.photo img:hover {
    opacity:1.0;
    cursor:pointer;
}

.image  {
   width:100%;
   background-image:url('black car.jpg');
   height:700px;
   background-size: cover;
   background-repeat:no-repeat;
   width:100%;
   margin-top: 350px;
   margin-bottom: 80px;
   color:white;
   box-sizing: border-box;
}
.content {
    color:white;
    width: 70%;
    position: relative;
    padding:50px 40px;
    float:left;
    box-sizing: border-box;
    text-align: justify;
}
.content h1 {
     font-size:45px;
     text-align: center;
     width:50%;
     border-bottom: 2px solid white;
 }

.content p {
    float:left;
    padding:10px 0px;
    width:60%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.content button {
    width:20%;
    padding:15px; 
    text-align: center;
    margin-top:15px;
    margin-left:20px;
    border:2px solid white;
    color:white;
    font-size:20px;
    background: none;
    margin-right: 400px;
    float:left;
    transition: background-color 600ms, color 600ms;
    border-radius: 7px;
}
.content p::selection {
    background-color:white;
    color:red;
}
.content button:hover {
    background-color:white;
    color:#3b5997;
    cursor: pointer;
}

.content p::first-letter {
    font-size:30px;
    box-sizing: border-box;
    padding:0px 3px;
}
.work ul {
    width:100%;
    box-sizing: border-box;
    float:left;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.work li {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 30px 70px 40px;
    float: left;
    transition: font-size 500ms;
    box-sizing: border-box;
    font-weight: bold;
    font-size:15px;
}
.work {
    width:100%;
    box-sizing: border-box;
    margin:70px 0px 0px 0px;
}
.work h1 {
    padding:30px;
}
.work img {
    width:25%;
    height:330px;
    float: left;
    margin:0px;
    box-sizing: border-box;
    padding:0px;
}
.work li:hover {
    color:#0e2f72;
    font-size:20px;
    cursor:pointer;
}
.latest {
  text-align:center;
  width:100%;
  margin-top:50px;
  margin-bottom: 30px;
  padding:0px;
  margin-bottom: 50px;
  float:left;
  box-sizing: border-box;
}
.latest h1{
    margin:0px;
    word-spacing:10px;
}
.logo img {
   margin:60px 0px -10px 0px;
   box-sizing: border-box;

}
.logo {
    box-sizing: border-box;
    width:100%;
}

 .lnews {
     width: 100%;
     height:80vh;
     padding: 0%;
     margin-bottom:100px;
     margin: 400px 0px 400px;
     color: gray;
     display: block;
     font-family: Arial, Helvetica, sans-serif;
     
 }
.lnews img {
    width: 45%;
    float:left;
    margin:10px;
    height: 70vh;
}
.lnews button {
    box-sizing: border-box;
margin: 30px 0px 20px 90px;
width:10%;
border-radius: 30px;
font-size:15px;
transition: background-color 500ms, color 500ms;
padding: 12px;
border: none;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid black;
background:none;
}
.lnews button:hover {
  background-color: orange;
  color:white;
  border:none;
cursor: pointer;
}
.lnews h1 {
    width: 45%;
    margin:0px;
    padding: 10px 0px 20px 60px;
    float:left;
    color:rgb(78, 76, 76);
    box-sizing: border-box;
}
.lnews p {
    width: 47%;
    float: left;
    text-align: justify;
    margin:0px;
    padding: 10px 0px 20px 60px;
}
.latest2 {
    width: 100%;
    height:80vh;
    padding: 0%;
    margin: 250px 0px 50px;
    color: gray;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.latest2 img {
    width: 48%;
    margin:10px;
    height:70vh;
    float: right;
}
.latest2 h1 {
    width: 45%;
    margin:0px;
    padding: 10px 0px 20px 20px;
    float:left;
    color:rgb(78, 76, 76);
    box-sizing: border-box;
}
.latest2 button {
    box-sizing: border-box;
margin:15px 0px 20px 90px;
width:10%;
border-radius: 30px;
font-size:15px;
padding: 12px;
border: none;
transition: background-color 500ms, color 500ms;
font-family: Arial, Helvetica, sans-serif;
border: 1px solid black;
background:none;
}
.latest2 button:hover {
  background-color: orange;
  color:white;
  border:none;
cursor: pointer;
}
.latest2 p {
    width: 45%;
    float: left;
    text-align: justify;
    margin:0px;
    box-sizing: border-box;
    padding: 10px 0px 20px 20px;
}
.lnews3 {
    width: 100%;
    height:80vh;
    padding: 0%;
   transition: font-size 1s;
    margin:0px 0px 0px;
    color: gray;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.lnews3 img {
   width: 45%;
   float:left;
   margin:10px;
   height: 70vh;
}
.lnews3 h1 {
   width: 45%;
   margin:0px;
   padding: 10px 0px 20px 60px;
   float:left;
   color:rgb(78, 76, 76);
   box-sizing: border-box;
}
.lnews3 p {
   width: 48%;
   float: left;
   text-align: justify;
   margin:0px;
   padding: 10px 0px 20px 60px;
}
.lnews3 button {
         box-sizing: border-box;
   margin: 30px 0px 20px 90px;
    width:10%;
    border-radius: 30px;
    font-size:15px;
    padding: 12px;
transition: background-color 500ms, color 500ms;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background:none;
}
.lnews3 button:hover {
       background-color: orange;
       color:white;
       border:none;
    cursor: pointer;
}
.partners {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 100px;
    margin-top: 30px;
}
.partners img {
    margin:70px 70px 0px 70px;
}
.partners h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    background-color: rgb(95, 93, 93);
    color: white;
    text-align: center;
    width: 100px;
    opacity: 0;
    transition: opacity 1s;
    padding:8px 5px;
    margin:115px 0px 0px -175px;
    position: absolute;
    visibility: hidden;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom:100%;
    left: 45%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(95, 93, 93) transparent;
}
.tooltip:hover .tooltiptext {
    visibility:visible;
    cursor: pointer;
    opacity: 1;
}
#lambo .tooltip {
    display: inline-block;
    position: relative;
}
#lambo:hover .tooltip .tooltiptext {
    visibility: visible;
    cursor: pointer;
}
#lambo .tooltip .tooltiptext {
    background-color: rgb(95, 93, 93);
    color: white;
    text-align: center;
    width: 100px;
    transition: opacity 1s;
    padding:8px 5px;
    margin:150px 0px 0px -175px;
    position: absolute;
    visibility: hidden;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
#volks .tooltip {
    display: inline-block;
    position: relative;
}
#volks .tooltip .tooltiptext {
    display: absolute;
    width: 100px;
    background-color: rgb(95, 93, 93);
    color:white;
    text-align: center;
    transition: 600ms;
    padding: 8px 5px;
    margin: 160px 0px 0px -165px;
    font-size: 15px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#audi .tooltip {
    display: inline-block;
    position: relative;
}
#audi .tooltip .tooltiptext {
    margin:135px 0px 0px -175px;
}
#tesla .tooltip {
    display: inline-block;
    position: relative;
}
#tesla .tooltip .tooltiptext {
    width: 150px;
    background-color: gray;
    color: white;
    padding:10px 3px;
    margin:165px -185px;
    visibility: hidden;
   position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}
#tesla .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom:100%;
    left: 45%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(95, 93, 93) transparent;
}
#tesla:hover .tooltiptext {
    visibility: visible;
    cursor: pointer;
}
.partners img:hover {
    cursor: pointer;
}

.service {
    width: 100%;
    height:70vh;
    background-image: url('Full Car Service Harlow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.service h1 {
    position:relative;
    top: 14%;
}
.service h3 {
    position: relative;
    top:8%;
}
.service p {
    position: relative;
    padding: 6px 10% 10px 10%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    top:15%;
}
.service button {
    position: relative;
    top:22%;
    width: 10%;
    border: none;
    border-radius: 0px;
    padding: 10px;
    background-color: orange;
    font-size:15px;
    color:black;
    transition: background-color 1s, color 1s;
}
.service button:hover {
    background-color:red;
    color:white;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 50vh;
    background-color: #042a3b;
    color:white;
    margin-top:60px;
    font-family: Arial, Helvetica, sans-serif;
}
.social {
    width: 50%;
    padding: 20px 30px 0px 30px;
    box-sizing: border-box;
    float:left;
}
.social img {
    width:7%;
    margin:10px 10px;
    float:left;
    transition: width 1s , margin 1s;
}
.social img:hover {
    width:10%;
    margin:0px 15px;
}
.fottext {
    display: inline-block;
    width:50%;
    padding: 0px;
    margin:0px;
}
.fottext h1 {
    float:left;
    box-sizing: border-box;
    width:100%;
    padding:40px 30px;
    margin:0px;
}
.fottext p {
    width:80%;
    font-size:15px;
    margin:0px;
    padding:20px;
    float:left;
     box-sizing: border-box;
}
.footer {
    width:100%;
    display: block;
    background-color:rgb(62, 132, 211);
    color:white;
    font-size:15px;
    margin:0px;
    position: relative;
    padding:2px;
    box-sizing: border-box;
    margin-top:110px;
}
.footer p {
    position: relative;
    width:40%;
    left:35%;
}
table {
    float:right;
   position: relative;
   bottom:50%;
   padding:0px;
   text-align: center;
   right:7%;
}
th {
    box-sizing: border-box;
    font-size:20px;
    padding:0px 50px;
}
td {
    padding: 30px 30px 0px;
    color:gray;
    transition: color 1s, font-size 1s;
}
td:hover {
    font-size:20px;
    cursor:pointer;
    color:white;
}
@media screen and (max-width:400px) {
    .lnews {
        padding: 10px;
        display: block;
        box-sizing: border-box;
    }
    .lnews img {
        margin:0px;
        width: 100%;
    }
    .lnews h1 {
        width: 100%;
        margin:0px;
        padding: 60px 0px;
    }
    .lnews p {
        width: 100%;
        margin:0px;
        padding: 10px;
    }
    .lnews button {
        box-sizing: border-box;
    margin: 30px;
    margin-bottom: 100px;
    width:100%;
    padding: 12px;
    }
}